<div>
    <button type="button" ng-click="$ctrl.addNewTask()">Add a task</button>
</div>
<div class="listItemfilters">
    <button type="button"
        ng-click="$ctrl.setItemFilter('all')"
        ng-class="{'active':$ctrl.currentFilter === 'all'}" >All</button>
    <button type="button"
        ng-click="$ctrl.setItemFilter('initial')"
        ng-class="{'active':$ctrl.currentFilter === 'initial'}" >✘ Not done</button>
    <button type="button"
        ng-click="$ctrl.setItemFilter('done')"
        ng-class="{'active':$ctrl.currentFilter === 'done'}" >✓ Done</button>
</div>
<div ng-if="$ctrl.list.list.length === 0">
    Add a task to see it here
</div>
<ul class="todolist">
    <li ng-repeat="list_item in $ctrl.list.list | filter:$ctrl.filter"
        ng-class="{editing: $ctrl.editingTask === list_item}">
        <input type="checkbox" ng-if="$ctrl.editingTask !== list_item" ng-model="list_item.is_done" ng-click="$ctrl.saveTaskAsync(list_item)" />
        <input
            type="text"
            class="todoListItemtext"
            ng-disabled="$ctrl.editingTask !== list_item"
            ng-model="list_item.title" />
        <div class="edit-tools" ng-if="$ctrl.editingTask === list_item">
            <button type="button" ng-click="$ctrl.saveTask(list_item)">Save</button>
            <button type="button" ng-click="$ctrl.deleteTask(list_item)">Delete</button>
        </div>
        <button ng-if="$ctrl.editingTask !== list_item" ng-click="$ctrl.setEdit(list_item)">edit</button>
    </li>
</ul>

<style>
    .todolist {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .todoListItemtext:disabled {
        border: 0;
        background: none;
    }
    .todoListItemtext {
        margin: 0.5rem;
        margin-left: 0;
    }
    .todolist > li.editing {
        padding: 0.5rem;
        background-color: antiquewhite;
    }
    .edit-tools {
        display: flex;
    }
    .edit-tools > * {
        margin-right: 0.5rem;
    }
    .listItemfilters {
        margin-top: 1rem;
    }
    .listItemfilters > button {
        background-color: azure;
        border: 1px solid black;
    }
    .listItemfilters > button.active {
        background-color: antiquewhite;
    }
</style>