<div>
    <button type="button" ng-click="$ctrl.addNewTask()">Add a task</button>
</div>
<ul class="todolist">
    <li ng-repeat="list_item in $ctrl.list.list"
        ng-class="{editing: $ctrl.editingTask === list_item}">
        <input type="checkbox" ng-if="$ctrl.editingTask !== list_item" ng-model="list_item.is_done" />
        <input
            type="text"
            class="todoListItemtext"
            ng-disabled="$ctrl.editingTask !== list_item"
            ng-model="list_item.title" />
        <div class="edit-tools" ng-if="$ctrl.editingTask === list_item">
            <button type="button" ng-click="$ctrl.saveTask(list_item)">Save</button>
            <button type="button" ng-click="$ctrl.deleteTask(list_item)">Delete</button>
        </div>
        <button ng-if="$ctrl.editingTask !== list_item" ng-click="$ctrl.setEdit(list_item)">edit</button>
    </li>
</ul>

<style>
    .todolist {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .todoListItemtext:disabled {
        border: 0;
        background: none;
    }
    .todoListItemtext {
        margin: 0.5rem;
        margin-left: 0;
    }
    .todolist > li.editing {
        padding: 0.5rem;
        background-color: antiquewhite;
    }
    .edit-tools {
        display: flex;
    }
    .edit-tools > * {
        margin-right: 0.5rem;
    }
</style>